:root {
  --kendo-translucency-base: 30%;
}

body {
  margin: 0;
  font-family: var(--kendo-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: var(--kendo-font-family-monospace);
}

.file-manager-listview__content {
  display: flex;
  flex-flow: row wrap;
}
