html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  background-color: var(--kendo-color-app-surface);
  color: var(--kendo-color-on-app-surface);
  font-family: var(--kendo-font-family);
  font-size: var(--kendo-font-size);
  line-height: var(--kendo-line-height);
}
