html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: Ubuntu;
}

#page {
  display: flex;
  height: calc( 100vh - 30px);
  height: 100%;
  width: 100%;
}

#sideBar {
  height: 100%;
  width: 100%;
  background-color: #f8f9fc;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 20px;
}

#content {
  flex: 1 1 auto;
  margin-left: 25px;
  margin-bottom: 100px;
}

.k-appbar  {
  background: linear-gradient(90deg,#6626ed 0%,#4b5ffa 100%);
  height: 55px;
}
.app-bar-container {
 width: 100%;
}

.card-balance-currency, .card-profit-text {
  font-size: 42px;
  font-weight: 700;
  line-height: 48px;
  color: #fff;
}

.panel-card {
  line-height: 1;
  padding: 16px;
  border-radius: 20px;
  background: radial-gradient(44.65% 148.96% at 31.52% 49.82%,#4c5ffa 0%,#b5a9ff 100%);
  width: 300px;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.card {
  width: 320px;
  margin-bottom: 20px;
  padding-left: 5px;
}

.right-panel-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  color: #626880;
}

.panel-card {
  line-height: 1;
  padding: 16px;
  border-radius: 20px;
  background: radial-gradient(44.65% 148.96% at 31.52% 49.82%,#4c5ffa 0%,#b5a9ff 100%);
}
.right-panel-card {
  background: inherit;
  border-width: 0;
}

.my-portfolio-title {
  font-size: 24px;
  line-height: 30px;
  color: #626880;
  margin-top: 20px;
}

@media only screen   
and (min-device-width : 768px)   
and (max-device-width : 1024px) {
  .card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
}
@media screen and (width: 581px) and (height: 1218px) {
  .card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.card-container > * {
  flex: 1 1 auto;
}

.card-content {
  display: flex;
  justify-content: space-between;
}

td>.negative {
  color: #F31700
}

td>.positive {
  color: #37B400
}

body {
  font-family: 'Roboto', sans-serif;
}

.flex-container {
  display: flex;
  align-items: center; 
}

.image-container {
  margin-right: 10px; 
}

.image-container img {
  display: block; 
  max-width: 100%; 
  height: auto; 
}

.right-panel-avatar img {
  border-radius: 10%; 
  overflow: hidden;  
}

.title {
  font-family: "Helvetica Neue",sans-serif;
  font-weight: 700;
  line-height: 20px;
  color: #fff;
  margin: 0 10px;
  font-size: 25px;
}

.docs-icon, .k-i-bell {
  font-size: 25px;
}

.right-panel-card-title {
  font-size: 22px;
  font-weight: 500;
  color: #424242;
}

.right-panel-card-subtitle {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: #424242;
}

.positive {
  color: #4b5ffa;
}

.negative {
 color: #f31700
}

.top-card-subtitle {
  font-size: 12px;
  line-height: 10px;
  color: #aeaeae;
}
