---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header';
import Home from '../components/Home';
import Footer from '../components/Footer';
---

<Layout>
  <Header client:only="react" />
    <main>
      <Home client:only="react" />
    </main>
  <Footer client:only="react" />
</Layout>