.example-container {
    margin: 0 auto;
    max-width: 900px;
}
.title {
    font-size: 30px;
    font-weight: bold;
}
.k-card-cover {
    object-fit: cover;
    width: 100%;
    height: 375px;
}
.k-card .k-card-body { padding: 5px 8px; }
.photo-text {
    text-align: right;
    font-size: 10px;
    font-style: italic;
}
