td.dirty:before {
    font-family: 'WebComponentsIcons';
    color: red;
    content: '\e000';
    margin-top: -12px;
    margin-right: -17px;
    font-size: 14px;
    line-height: 0px;
    float: right;
  }
  