.example-wrapper {
	display: flex;
}

.example {
	width: 380px;
	height: 380px;
	margin: 0 auto;
}

.kendoka {
	margin: 0 auto;
	width: 380px;
	height: 380px;
	background-size: cover;
	background-image: url('https://demos.telerik.com/kendo-react-ui/assets/inputs/colorpicker/kendoka.png');
}

.k-h4 {
	opacity: 0.2;
	font-size: 22px;
	font-weight: 700;
}
