.suggestion-item-list {
    margin: 40px;
    border: solid 1px #dce3e5;
    box-sizing: border-box;
    padding: 16px;
    border-radius: 2px;
    box-shadow: inset 0px 1px 8px -3px #ABABAB;
    background: #fefefe;
    cursor: text;
    text-align: center;
    width: 135px;
}

.suggestion-item {
    transition: 0.4s cubic-bezier(.27, 1.27, .48, .56);
}

.suggestion-item-active {
    background-color: #cce7ff;
    font-weight: bold;
    margin: 0px -16px 0px -15px;
}