@use '@progress/kendo-theme-meridian/scss/all.scss' as *;

:root {
  --kendo-color-primary: #1c7cd5;
  --kendo-font-family: "Roboto", Helvetica, Arial, sans-serif;
  --kendo-translucency-base: 24%;
}
