@use "sass:map";

@use '@progress/kendo-theme-bootstrap/scss/all.scss' as * with (
    $kendo-colors: (
      primary: #1c7cd5
    ),
    $kendo-h1-font-family: "Ubuntu",
    $kendo-h1-font-size: 2.5rem,
    $kendo-h1-font-weight: bold,
    $kendo-h1-line-height: 1,

    $kendo-button-bg: white,
    $kendo-button-selected-bg: #e6e6e6,
    $kendo-button-selected-text: #212529,
    $kendo-button-selected-border: #e6e6e6,

    $kendo-splitter-bg: white,
    $kendo-splitbar-bg: white,
    $kendo-splitbar-hover-text: white,
    $kendo-splitbar-hover-bg: white,
    $kendo-splitbar-selected-text: white,
    $kendo-splitbar-selected-bg: white,
    $kendo-splitter-drag-handle-thickness: 0px,

    $kendo-picker-bg: transparent,
    $kendo-picker-hover-bg: transparent,
    $kendo-picker-hover-border: none,
    $kendo-picker-focus-bg: transparent,
    $kendo-picker-focus-border: transparent,
    $kendo-picker-focus-shadow: none,

    $kendo-input-focus-border: #1c7cd5,

    $kendo-grid-padding-x: 0.4rem,
    $kendo-grid-padding-y: 0.4rem,
    $kendo-grid-alt-bg: transparent,
    $kendo-grid-header-bg: #eceeef,
    $kendo-grid-footer-bg: #eceeef,
    $kendo-grid-header-text: #55595c,
    $kendo-grid-header-border: transparent,

    $kendo-dialog-buttongroup-padding-x: 15px,
    $kendo-dialog-buttongroup-padding-y: 15px,

    $kendo-popup-padding-y: 0,
);

:root{
  --kendo-font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.k-splitbar {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .2);
}

.k-grid-header .k-table-thead {
  background-color: #eceeef;
  td {
    border-color: #eceeef;
  }
}
