@import "./variables";
@import "./bootstrap";
@import "./typography";
@import "./kendo";

body {
  font-family: $roboto;
}

main {
  background-color: rgba(236, 238, 239, 0.5);
}

.add-new .k-select {
  display: none;
}

a,a:hover {
  text-decoration: none;
}

div.k-animation-container {
  z-index: 100003 !important;
}

.k-pager-numbers .k-link.k-selected {
  color: white;
}

.k-list-item.k-selected {
  color: white;
}

.k-list-item.k-selected:hover {
  color: white;
}

.k-calendar .k-calendar-td.k-selected .k-link {
  color: white;
}

.k-calendar .k-calendar-td.k-selected .k-link:hover {
  color: white;
}

.k-picker-solid {
  color: #212529;
  background-color: #fff;
  border-color: #dee2e6;
}

.k-picker-solid:hover {
  color: #212529;
  background-color: #fff;
  border-color: #dee2e6;
}

.k-grouping-header .k-group-indicator {
  border-color: #e4e7eb;
  color: #212529;
  background-color: #fff;
}