.sortableDiv {
    padding-left: 3px;
    position: relative;
    top: 25px;
    z-index: 10;
    display: inline-block;
  }
  
  .sortableDiv .k-button {
    height: 21px;
    padding: 0 20px;
  }
  