.header {
  height: 140px;
  h1,
  p {
    line-height: 1;
    color: white;
  }

  @media (max-width: 768px) {
    h1 {
      font-size: 1.5rem;
    }
  }
}

.currency-input {
  img {
    width: 58px;
    height: 58px;
    border-radius: 100%;
  }
  span {
    font-weight: 300;
    color: white;
  }
}
