:root {
    --kendo-color-app-surface: #D4D6E4;
    --kendo-color-inverse: #151950;
    --kendo-color-secondary: #53D2FA;
    --kendo-color-info: #71A6FF;
    --kendo-color-series-a: #FF6358;
    --kendo-color-series-b: #FFD246;
    --kendo-color-series-c: #55AB1D;
    --kendo-color-series-d: #28B4C8;
    --kendo-font-family: "Roboto", sans-serif;
    --kendo-translucency-base: 25%;
}

$background-color: var(--kendo-color-app-surface);
$info-background: var(--kendo-color-inverse);
$react-color: var(--kendo-color-secondary);
$link-color: var(--kendo-color-info);
$surface-color: var(--kendo-color-surface-alt);
$on-dark-color: var(--kendo-color-on-inverse);

$tiger-team: var(--kendo-color-series-a);
$lemon-team: var(--kendo-color-series-b);
$organic-team: var(--kendo-color-series-c);
$ocean-team: var(--kendo-color-series-d);