:root {
    --kendo-translucency-base: 25%;
    --kendo-translucency-blur-base: 6px;
    --kendo-translucency-blur-step: 2px;
    --warehouse-header-height: 5rem;
}

$background-color: var(--kendo-color-app-surface);
$info-background: var(--kendo-color-inverse);
$react-color: var(--kendo-color-secondary);
$link-color: var(--kendo-color-info);
$surface-color: var(--kendo-color-surface-alt);
$on-dark-color: var(--kendo-color-on-inverse);

$tiger-team: var(--kendo-color-series-a);
$lemon-team: var(--kendo-color-series-b);
$organic-team: var(--kendo-color-series-c);
$ocean-team: var(--kendo-color-series-d);