@font-face {
   font-family: "Roboto";
   src: url("fonts/Roboto-Regular.ttf") format("truetype");
}

body {
   font-family: var(--kendo-font-family);
   font-style: normal;
   font-weight: var(--kendo-font-weight-normal);
}

@media (min-width: 480px) {
   h1 {
       font-size: calc(var(--kendo-font-size) * 1.5);
       font-weight: var(--kendo-font-weight-normal);
   }
   h2 {
       font-size: var(--kendo-font-size-xl);
       font-weight: var(--kendo-font-weight-extra-light);
   }
}

@media (min-width: 768px) {
   h1 {
       font-size: calc(var(--kendo-font-size) * 1.75);
       font-weight: var(--kendo-font-weight-normal);
   }
   h2 {
       font-size: calc(var(--kendo-font-size) * 1.75);
       font-weight: var(--kendo-font-weight-extra-light);
   }
}