.myCustomTabStrip {
    width: 500px;
    overflow-x: scroll;
  }
  
  .myCustomTabStrip2 {
    width: 500px;
  }
  .myCustomTabStrip2 .k-tabstrip-items-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    height: 60px;
  }
  