html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  
.header {
  background-color: #FAFAFA;
}

.kr-p-r-l-b-60{
  padding: 0px 60px 60px 60px;
}

.kr-mw-1280{
  max-width: 1280px;
}

.k-menu-popup {
  position: fixed !important; 
  top: auto !important;
  z-index: 1000; 
}

.switch-width {
  width: 72px !important;
}