.profile-demo.card-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.profile-demo .custom-card {
    padding: 32px;
    width: 712px;
    height: 350px;
    gap: 32px;
    border-radius: 4px 4px 0 0;
    box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.08);
}

.profile-demo .card-row {
    display: flex;
    gap: 32px;
}

.profile-demo .card-column {
    flex: 1;
}

.profile-demo .no-flex {
    flex: 0;
}

.profile-demo .sidebar-container,
.profile-demo .avatar-name-container,
.profile-demo .name-container,
.profile-demo .description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-demo .sidebar-container {
    padding: 30px 20px;
    width: 180px;
    height: 318px;
    gap: 50px;
}

.profile-demo .avatar-name-container {
    gap: 20px;
}

.profile-demo .name-container {
    gap: 5px;
}

.profile-demo .description-container {
    width: 100%;
    gap: 15px;
}

.profile-demo .k-skeleton {
    border-radius: 4px;
    opacity: 0.4;
}

.profile-demo .sidebar-container .k-skeleton {
    opacity: 0.8;
}

.profile-demo .skeleton-avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
}

.profile-demo .skeleton-text {
    width: 104px;
    height: 15px;
}

.profile-demo .skeleton-small-text {
    width: 100%;
    height: 10px;
}

.profile-demo .skeleton-small-text-short {
    width: 56px;
    height: 10px;
}

.profile-demo .skeleton-box-small {
    width: 124px;
    height: 15px;
}

.profile-demo .skeleton-box-large {
    width: 100%;
    height: 30px;
}

.profile-demo .skeleton-box-large-double {
    width: 100%;
    height: 56px;
}

.profile-demo .skeleton-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.profile-demo .avatar-title-container {
    margin-bottom: 14px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.profile-demo .avatar-title-container .skeleton-avatar {
    width: 48px;
    height: 48px;
    display: none;
}

.profile-demo .top {
    margin-bottom: 20px;
}

.profile-demo .component-container {
    margin-bottom: 20px;
}

.profile-demo .k-h4 {
    margin-bottom: 0;
    opacity: 0.2;
}

@media only screen and (max-width: 559px) {
    .profile-demo .card-column.no-flex {
        display: none !important;
    }

    .profile-demo .avatar-title-container .skeleton-avatar {
        display: block;
    }

    .profile-demo .custom-card {
        width: 360px;
        gap: 48px;
    }

    .profile-demo .skeleton-box-large-double {
        height: 72px;
    }
}

@media only screen and (max-width: 359px) {
    .profile-demo .custom-card {
        padding: 24px;
    }

    .profile-demo .k-h4 {
        font-size: 20px;
    }

    .profile-demo .avatar-title-container .skeleton-avatar {
        width: 32px;
        height: 32px;
    }

    .profile-demo .skeleton-box-large-double {
        height: 78px;
    }
}
kendo-textarea textarea {
    width: 426px;
}

.component-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 6px;
}

.component-container kendo-textarea {
    align-self: stretch;
}

.component-container button[kendospeechtotextbutton] {
    align-self: flex-end;
}
button[kendospeechtotextbutton] {
    height: 38px;
    width: 38px;
}

.start {
    align-self: flex-start;
}
