.symbolActions {
  display: flex;
  align-items: center;
  gap: var(--kendo-spacing-2);
}

.stock-item {
  padding-top: var(--kendo-spacing-4);
  padding-bottom: var(--kendo-spacing-4);
  cursor: pointer;
  &:hover {
      background-color: var(--kendo-color-base-hover);
  }
}

.stock-item-symbol {
  line-height: var(--kendo-line-height-xs);
  display: block;
  font-size: var(--kendo-font-size-sm);
  color: var(--kendo-color-primary);
}

.stock-item-name {
  line-height: var(--kendo-line-height-xs);
  display: block;

  font-size: var(--kendo-font-size-xs);
  color: var(--kendo-color-subtle);
}

.symbolPicker {
  background-color: var(--kendo-color-surface-alt);
  width: 140px;
}

.removeButton {
  color: var(--kendo-color-error);
}

:global(.k-dropdownlist) {
  max-width: 100%;
}