.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.k-expander {
    width: 600px;
}

.content {
    display: flex;
}

.image-container {
    width: 160px;
    height: 250px;
    flex-shrink: 0;
    margin-right: 20px;
}

img {
    width: 100%;
    height: auto;
}

.content-text {
    display: block;
    text-align: justify;
}
