$negative-value: #d9534f;
$positive-value: #5cb85c;

.symbol-cell {
  color: #55595c;
  font-weight: bold !important;
}

.name-cell {
  color: #373a3c;
}

.price-cell {
  font-weight: bold !important;
}

.negative-cell {
  color: $negative-value;
}

.positive-cell {
  color: $positive-value;
}

.multiline-header-cell {
  & > small {
    display: block;
    font-weight: 300;
    font-size: 11px;
  }
}

.grid thead {
    background-color: #eceeef !important;
    color: #55595c !important;
    line-height: 1;
    font-weight: bold !important;
    & > th {
      vertical-align: middle;
    }
}