.segmented-demo.card-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.segmented-demo .custom-card {
    padding: 32px;
    width: 712px;
    height: 350px;
    gap: 32px;
    border-radius: 4px 4px 0 0;
    box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.08);
}

.segmented-demo .card-row {
    display: flex;
    gap: 32px;
}

.segmented-demo .card-column {
    flex: 1;
}

.segmented-demo .no-flex {
    flex: 0;
}

.segmented-demo .sidebar-container,
.segmented-demo .avatar-name-container,
.segmented-demo .name-container,
.segmented-demo .description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.segmented-demo .sidebar-container {
    padding: 30px 20px;
    width: 180px;
    height: 318px;
    gap: 50px;
}

.segmented-demo .avatar-name-container {
    gap: 20px;
}

.segmented-demo .name-container {
    gap: 5px;
}

.segmented-demo .description-container {
    width: 100%;
    gap: 15px;
}

.segmented-demo .k-skeleton {
    border-radius: 4px;
    opacity: 0.4;
}

.segmented-demo .sidebar-container .k-skeleton {
    opacity: 0.8;
}

.segmented-demo .skeleton-avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
}

.segmented-demo .skeleton-text {
    width: 104px;
    height: 15px;
}

.segmented-demo .skeleton-small-text {
    width: 100%;
    height: 10px;
}

.segmented-demo .skeleton-small-text-short {
    width: 56px;
    height: 10px;
}

.segmented-demo .skeleton-box-small {
    width: 124px;
    height: 15px;
}

.segmented-demo .skeleton-box-large {
    width: 100%;
    height: 30px;
}

.segmented-demo .skeleton-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.segmented-demo .avatar-title-container {
    margin-bottom: 14px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.segmented-demo .avatar-title-container .skeleton-avatar {
    width: 48px;
    height: 48px;
    display: none;
}

.segmented-demo .component-container {
    margin-bottom: 20px;
}

.segmented-demo .description-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 16px;
}

.segmented-demo .k-h4 {
    margin-bottom: 0;
    opacity: 0.2;
}

.segmented-demo .profile-text {
    font-family: var(--kendo-font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: var(--kendo-letter-spacing);
    color: var(--kendo-color-subtle, #3d3d3d);
    margin: 16px 0 8px;
}

.segmented-demo .description-title {
    font-family: var(--kendo-font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: var(--kendo-letter-spacing);
    color: var(--kendo-color-subtle, #3d3d3d);
}

.segmented-demo .hint {
    font-family: var(--kendo-font-family);
    font-weight: var(--kendo-font-weight-normal, 400);
    font-size: 13px;
    line-height: 1.42;
    letter-spacing: var(--kendo-letter-spacing);
    color: var(--kendo-color-on-app-surface, #3d3d3d);
}

.segmented-demo .k-segmented-control .k-segmented-control-button {
    font-size: 14px;
}

@media only screen and (max-width: 559px) {
    .segmented-demo .card-column.no-flex {
        display: none !important;
    }

    .segmented-demo .avatar-title-container .skeleton-avatar {
        display: block;
    }

    .segmented-demo .custom-card {
        width: 360px;
        gap: 48px;
    }
}

@media only screen and (max-width: 359px) {
    .segmented-demo .custom-card {
        padding: 24px;
    }

    .segmented-demo .k-h4 {
        font-size: 20px;
    }

    .segmented-demo .avatar-title-container .skeleton-avatar {
        width: 32px;
        height: 32px;
    }
}
