.example-config {
    margin: 0 0 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.03);
    border: 1px solid rgba(0, 0, 0, 0.08);
}

.example-col {
    display: inline-block;
    vertical-align: top;
    padding-right: 20px;
    padding-bottom: 20px;
}

.row {
    margin: 0;
}

@media (max-width: 768px) {
    .col-sm-3 {
        width: 100%;
        margin-bottom: 15px;
    }
}
