.list-item {
  color: var(--kendo-color-on-surface);

  &:hover {
    color: var(--kendo-color-on-surface);
    text-decoration: none;
  }

  &.list-item-selected {
    position: relative;
    font-weight: var(--kendo-font-weight-bold);

    &::after {
      display: block;
      position: absolute;
      width: 100%;
      height: var(--kendo-spacing-1);
      background-color: var(--kendo-color-primary);
      content: "";
    }
  }
}

.ddl-list-item {
  svg path {
    fill: var(--kendo-color-primary);
  }

  &.k-selected {
    svg path {
      fill: var(--kendo-color-on-primary);
    }
  }
}

.range-list {
  display: flex;
  gap: var(--kendo-spacing-3);
  margin: 0;
  padding: 0;
  list-style: none;
}

.stock {
  position: absolute;
  z-index: 11;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  padding: var(--kendo-spacing-1) var(--kendo-spacing-3);
  border-radius: var(--kendo-border-radius-xl);
  color: var(--kendo-color-on-primary);
  font-size: var(--kendo-font-size-sm);
  font-weight: var(--kendo-font-weight-bold);
  line-height: var(--kendo-line-height-xs);
  pointer-events: none;
  transform: translate(-50%, -50%);
}
