# Builds and tests sample applications
name: CI

on:
  push:
    branches-ignore:
      - master

env:
  NODE_OPTIONS: --max_old_space_size=6144

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
      - name: Use NodeJS v22
        uses: actions/setup-node@v6
        with:
          node-version: '22'

      - name: Check out repository
        uses: actions/checkout@v5

      - name: Get changed files
        uses: dorny/paths-filter@v2
        id: changes
        with:
          filters: |
            coffee-warehouse-nextjs:
              - 'examples/coffee-warehouse-nextjs/**'
            ecommerce-jewellery-store:
              - 'examples/ecommerce-jewellery-store/**'
            kendo-react-build-a-sales-dashboard:
              - 'examples/kendo-react-build-a-sales-dashboard/**'
            kendo-react-e-commerce-astro-app:
              - 'examples/kendo-react-e-commerce-astro-app/**'
            kendo-react-editor-strict-csp:
              - 'examples/kendo-react-editor-strict-csp/**'
            kendo-react-file-manager:
              - 'examples/kendo-react-file-manager/**'
            kendo-react-finance-portfolio:
              - 'examples/kendo-react-finance-portfolio/**'
            kendo-react-project-tracker-app:
              - 'examples/kendo-react-project-tracker-app/**'
            kendo-react-homepage-demo:
              - 'examples/kendo-react-homepage-demo/**'
            kendo-react-nextjs:
              - 'examples/kendo-react-nextjs/**'
            kendo-react-nodejs-express:
              - 'examples/kendo-react-nodejs-express/**'
            kendo-react-sales-dashboard:
              - 'examples/kendo-react-sales-dashboard/**'
            kendo-react-ssr:
              - 'examples/kendo-react-ssr/**'
            kendo-react-stackblitz-app:
              - 'examples/kendo-react-stackblitz-app/**'
            kendo-unstyled-tailwind:
              - 'examples/kendo-unstyled-tailwind/**'
            react-admin-dashboard:
              - 'examples/react-admin-dashboard/**'
            react-coffee-warehouse:
              - 'examples/react-coffee-warehouse/**'
            react-grid-live-data:
              - 'examples/react-grid-live-data/**'
            kendo-react-tailwind:
              - 'examples/kendo-react-tailwind/**'
            kendo-unstyled-tailwind-v4:
              - 'examples/kendo-unstyled-tailwind-v4/**'

      - name: Build Coffee warehouse nextjs app
        working-directory: ./examples/coffee-warehouse-nextjs
        run: |
          npm i
          npm run build

      - name: Build Ecommerce jewellery store vite app
        working-directory: ./examples/ecommerce-jewellery-store
        run: |
          npm ci
          npm run build

      - name: Build Ecommerce Astro app
        working-directory: ./examples/kendo-react-e-commerce-astro-app
        run: |
          npm ci
          npm run build

      - name: Build A Sales Dashboard app
        working-directory: ./examples/kendo-react-build-a-sales-dashboard
        run: |
          npm i
          npm run build

      - name: Build Kendo React Editor Strict CSP app
        working-directory: ./examples/kendo-react-editor-strict-csp
        run: |
          npm i
          npm run build

      - name: Build File Manager app
        working-directory: ./examples/kendo-react-file-manager
        run: |
          npm ci
          npm run build

      - name: Build Finance Portfolio app
        working-directory: ./examples/kendo-react-finance-portfolio
        run: |
          npm ci
          npm run build

      - name: Build Kendo React Project Tracker app
        working-directory: ./examples/kendo-react-project-tracker-app
        run: |
          npm ci
          npm run build

      - name: Build Homepage demo app
        working-directory: ./examples/kendo-react-homepage-demo
        run: |
          npm ci
          npm run build

      - name: Build React Nextjs app
        working-directory: ./examples/kendo-react-nextjs
        run: |
          npm i
          npm run build

      - name: Build React Nodejs Express app
        working-directory: ./examples/kendo-react-nodejs-express
        run: |
          cd server
          npm i
          cd ../client
          npm i
          npm run build

      - name: Build React Sales Dashboard app
        working-directory: ./examples/kendo-react-sales-dashboard
        run: |
          npm i
          npm run build

      - name: Build React SSR app
        working-directory: ./examples/kendo-react-ssr
        run: |
          npm i
          npm run build

      - name: Build React Stackblitz app
        working-directory: ./examples/kendo-react-stackblitz-app
        run: |
          npm i
          npm run build

      - name: Build React Unstyled Tailwind app
        working-directory: ./examples/kendo-unstyled-tailwind
        run: |
          npm i
          npm run build

      - name: Build React Admin Dashboard app
        working-directory: ./examples/react-admin-dashboard
        run: |
          npm ci
          npm run build

      - name: Build React Coffee Warehouse app
        working-directory: ./examples/react-coffee-warehouse
        run: |
          npm ci
          npm run build

      - name: Build React Grid Live Data app
        working-directory: ./examples/react-grid-live-data
        run: |
          npm ci
          npm run build

      - name: Build Kendo React Tailwind app
        working-directory: ./examples/kendo-react-tailwind
        run: |
          npm ci
          npm run build
      - name: Build Kendo React Unstyled Tailwind v4 app
        working-directory: ./examples/kendo-unstyled-tailwind-v4
        run: |
          npm ci
          npm run build
              